extensions:
	cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)
	cache.factory: Contributte\Cache\DI\CacheFactoryExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	console.cache: Contributte\Console\Extra\DI\AdvancedCacheConsoleExtension
	constants: Nette\DI\Extensions\ConstantsExtension
	decorator: Nette\DI\Extensions\DecoratorExtension
	di: Nette\DI\Extensions\DIExtension(%debugMode%)
	events: Contributte\EventDispatcher\DI\EventDispatcherExtension
	flysystem: Contributte\Flysystem\DI\FlysystemExtension
	inject: Nette\DI\Extensions\InjectExtension
	parametersValidation: Modette\Core\DI\ParametersValidationExtension
	php: Nette\DI\Extensions\PhpExtension
	tracy: Tracy\Bridges\Nette\TracyExtension(%debugMode%, %consoleMode%)
	tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension
	monolog: Contributte\Monolog\DI\MonologExtension
	setup: Modette\Core\Setup\DI\SetupExtension

console:
	lazy: true

console.cache:
	cleaners:
		apcu: Contributte\Console\Extra\Cache\Cleaners\ApcuCleaner()
		localFilesystem: Contributte\Console\Extra\Cache\Cleaners\LocalFilesystemCleaner([%tempDir%/cache], [%tempDir%/cache/.gitignore])
	generators:
		diContainers: Modette\Core\Cache\Generator\DiContainersCacheGenerator()

di:
	debugger: %debug.panels.di.container%
	parentClass: Modette\Core\DI\Container
	export:
		tags: false

flysystem:
	filesystem:
		internal:
			adapter:
				type: League\Flysystem\AdapterInterface
				factory: League\Flysystem\Adapter\Local
				arguments: [%storage.internalDir%]
			autowired: true

monolog:
	holder:
		enabled: true
	hook:
		toTracy: false
	channel:
		default:
			handlers:
				file:
					type: Monolog\Handler\HandlerInterface
					factory: Monolog\Handler\RotatingFileHandler
					arguments: [%logDir%/syslog.log, 30]
			processors:
				web:
					type: Monolog\Processor\ProcessorInterface
					factory: Monolog\Processor\WebProcessor
				introspection:
					type: Monolog\Processor\ProcessorInterface
					factory: Monolog\Processor\IntrospectionProcessor
				memoryPeakUsage:
					type: Monolog\Processor\ProcessorInterface
					factory: Monolog\Processor\MemoryPeakUsageProcessor
				processId:
					type: Monolog\Processor\ProcessorInterface
					factory: Monolog\Processor\ProcessIdProcessor

parameters:
	debug:
		panels:
			di:
				container: %debugMode%
	storage:
		internalDir: %rootDir%/var/data
	server:
		development: false

services:
	cache.cache:
		type: Nette\Caching\Cache
		factory: Nette\Caching\Cache
	di.parameters.command:
		factory: Modette\Core\DI\Console\ParametersDumpCommand
	logger.accessor:
		implement: Modette\Core\Logging\LoggerAccessor
		factory: @Monolog\Logger

setup:
	workers:
		cleanCache:
			worker: Modette\Core\Setup\Worker\CacheCleanWorker()
			priority: 50
		data:
			worker: Modette\Core\Setup\Worker\DataWorker(typed(Modette\Core\Setup\DataProvider\DataProvider))
			priority: 150
		generateCache:
		 	worker: Modette\Core\Setup\Worker\CacheGenerateWorker()
		 	priority: 200

tracy:
	logSeverity: E_ALL
	netteMailer: false
	strictMode: true
